<p>home works!</p>

<style>
    #home {
        color: white;
        font-family: monospace;
        font-size: 30px;
        position: absolute;
        left: 300px;
        bottom: 150px;
    }

    b{
        color: pink;
        font-weight: bolder;
    }

    .thin-text {
        font-weight: lighter;
    }
</style>

<main id="home">
    <h1>
        <div class="thin-text">Hey, <br> I'm <b>Dalila</b></div>
    </h1>

    <img src="assets/dalila_solis.jpg" alt="This is Dalila Solis" />

</main>